<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="searchFolder" value="T:\Transmission\Completed\" />
    <add key="destinationFolder" value="/mnt/Downloads/Transmission/Temp/" />
    <!--Set to 0 to only read content, will create files to show shows / movied are already moved.-->
    <add key="_readonly" value="1" />
  </appSettings>
</configuration>